
<div [ngClass]="this.active ? 'active' : ''" class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <i class="bx bxs-heart"></i>
      <div class="logo_name">Hello Diet</div>
    </div>
    <i class="bx bx-menu" (click)="this.active = !this.active"></i>
  </div>

  <div class="src">
    <i class="bx bx-search"></i>
    <input type="text" placeholder="Search.." />
  </div>

  <ul class="nav">
    <li *ngFor="let item of navbar">
      <a routerLink="{{ item.routerLink }}" (click)="this.active = false" >
        <i [class]="item.icon"></i>
        <span class="link_name">{{ item.name }}</span>
      </a>
      <span class="tooltip">{{ item.name }}</span>
    </li>
  </ul>
</div>
<br>

<div class="home_content">
  <router-outlet></router-outlet>
</div>
