<section class="initial">

  <nav [ngClass]="{'menu-active': serviceNavBar.navBarState, 'menu-hover': !serviceNavBar.navBarState}" (click)="serviceNavBar.flagNavbar()">
    <h1>NAVBAR</h1>
    <ul>
      <li style="--i:6;" ><a routerLink="/web/presentacion">Web's Presentacion</a></li>
      <li style="--i:5;" ><a routerLink="/web/projects">Web's Proyectos</a></li>
      <li style="--i:4;" ><a routerLink="/gaming/presentation">Game's Presentacion</a></li>
      <li style="--i:3;" ><a routerLink="/gaming/services">Game's Servies</a></li>
      <li style="--i:2;" ><a routerLink="/applications/presentation">App's Presentacion</a></li>
      <li style="--i:1;" ><a routerLink="/applications/services">App's Servies</a></li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

</section>

