
<body>
  <nav ngClass="{'menu-active': navbarFlag, 'menu-hover': !navbarFlag}" (click)="serviceNavBar.flagNavbar('Hola')">
    <h1>NAVBAR</h1>
    <ul>
      <li><a routerLink="/web/presentacion">Web's Presentacion</a></li>
      <li><a routerLink="/web/projects">Web's Proyectos</a></li>
      <br>
      <li><a routerLink="/gaming/presentation">Game's Presentacion</a></li>
      <li><a routerLink="/gaming/services">Game's Servies</a></li>
      <br>
      <li><a routerLink="/applications/presentation">App's Presentacion</a></li>
      <li><a routerLink="/applications/services">App's Servies</a></li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</body>


